.input {
  width: 100%;
  min-width: 500px;
  max-height: 600px;
  min-height: 300px;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  resize: both;
  overflow-y: auto;
}

.content{
  padding-bottom: 8px;
  font-weight: 600;
  text-align: center;
}

.title{
  text-align: center;
  margin-bottom: 8px;
  font-weight: 600;
}
.post_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

body {  
  overflow: hidden;
}

.input-title {
  width: 270px;

  max-height: 45px;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  overflow-y: auto;
}
.input:hover,
.input:focus,
.input-title:hover,
.input-title:focus,
.input-group:hover .input,
.input-group:hover .input-title {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label,
.input:focus {
  color: #05060fc2;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.button{
  background-color: #000000;
  padding: 8px;
  border-radius: 5px;
  color: white;
  transition: .3s
}

.button:hover{
  transform: translate(0, -2px);
  transition: .1s;
}

.button:active{
  transform: translate(0, 2px);
}