.input {
  width: 100%;
  min-width: 500px;
  max-height: 600px;
  min-height: 300px;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  resize: both;
  overflow-y: auto;
}

body {  
  overflow: hidden;
}

.input-title {
  width: 100%;
  min-width: 270px;
  max-height: 45px;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  overflow-y: auto;
}
.input:hover,
.input:focus,
.input-title:hover,
.input-title:focus,
.input-group:hover .input,
.input-group:hover .input-title {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label,
.input:focus {
  color: #05060fc2;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}